#tests
test
coverage

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml
pnpm-lock.yaml
scripts

#tools
.jscsrc
.jshintrc
.eslintrc*
.github
.husky
.eslintignore
.lintstagedrc.
.prettierignore
.prettierrc
commitlint.config.js

#editor settings
.vscode
.idea
.editorconfig

#chore
babel.config.json
dts-generator.config.ts
jest.config.ts
tsconfig.json
vite.config.ts
index.html