{
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "none",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
